:root {
    --main-bg-color: #f7f7f7;
    --main-bg-color-1: #dc6d5c;
    --main-bg-color-2: #fea03b;
}

.main {
    text-align: center;
    margin: auto;
}



.purpose {
    background-color: var(--main-bg-color-2);
    font-family: 'Montserrat', sans-serif;
}

.scenarios {
    background-color: var(--main-bg-color);
    font-family: 'Roboto', sans-serif;
}