body {
    display: grid;
    height: 100vh;
    grid-template-columns: auto 1fr ;
    grid-template-rows: auto auto 1fr auto;
  }
  
  header {
    background: rgb(242, 237, 238);
    padding: 2rem;
    grid-column: 1 / 4;
  }
  
  nav{
    background-color:rgb(13, 14, 14) ;
    padding: 2rem;
    grid-column: 1 / 4;
  }
  
  main {
    background: coral;
    grid-column: 2 / 3;
  }
  
  .right-sidebar {
    background: rgb(11, 31, 75);
    grid-column: 3 / 4;
  }
  
  footer {
    background: rgb(17, 17, 17);
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
  }
  
  .left-sidebar,
  .right-sidebar {
    padding: 1rem;
  }