*{box-sizing: border-box;}
body {
  font-family: 'PT Serif', serif;
  font-weight: 300;
  color: #333;
}

header {
  padding: .5rem;
  border-bottom: 1px solid #dc8a16;
  display: grid;
  gap: .5rem;
  grid-template-columns: 50px auto 48px;
}

header h1 {
  margin: 0;
  color: #eaad04;
  font-size: 1.5rem;
}

header p {
  margin: 0;
  color: #015f72;
  font-size: .87rem;
}


/*Navagation goes here*/
#menu-button {
  background: none;
  border: none;
  color: #015f72;
  font-size: 1.5rem;
  width: 48px;
  height: 48px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 5px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: none;
  list-style-type: none;
  z-index: 99;
}

nav ul.open {
  display: block;
  position: absolute;
  top: 50px;
  right: 0;
  width: 150px;
  background-color: #f5a434;
  margin: 0;
}

nav ul li a {
  display: block;
  color: black;
  text-decoration: none;
  padding: .75rem;
}
nav ul li.active a {
  font-weight: 600;
}
nav ul li:hover a {
  background-color: #c6440c;
  color: white;
}
/*Default Styling*/
main h1 {
  color:#015f72;
  margin-left: 2vw;
}
main h2 {
  color:#015f72;
  margin-left: 2vw;
}
main p {
  color:#333;
  margin-left: 2vw;
}

.container {
  background-image: url("../images/st1.png");
  width: 1500px;
  height: 400px;
  display:grid

  
}
/*Hero goes here*/

.hero{
    background-image: url("../images/hero-wide2.png");
    width: 1200px;
    height: 400px;
    display:grid
  
}
.hero-content {
    
    z-index: 1;
    padding: 4rem;
    color: rgb(230, 222, 222);
    margin: 0 auto;
    grid-template-areas:
        "blank"
        "hero-header"
        "hero-text"
        "hero-button"
        "hero-tabs";
      margin-top: 3rem;
  }
  
  .hero-content p {
      color: rgb(252, 252, 252);
      grid-area: hero-text;
      margin-inline-end: 55%;
      font-size: 1.1rem;
      font-weight: 150;
      margin-top: 2px ;
    }
  
  .hero-content h2 {
    font-size: 1.8rem;
    color:#0a8aa3;

  }
  .hero-content a {
    grid-area: hero-button;
    margin-inline-end: 45%;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: black;
    padding: 1rem;
    border: 1px solid var(--nav-background-color);
    background-color: #ffa600;
    border-radius: 2rem;
    margin-left: 150px;
  }

  .home-tittle {
    font-size: 60px;
    margin-bottom: 90px;
    margin-left:auto;
    
  }

/* Cards go Here */
div.cards{
  display: grid; 
  grid-template-columns: 1fr;
  padding: 1rem 2vw;
}


main section h2 {margin-top: 0;}
/*Discover goes here*/
section.gallery figure {
  margin: 2rem 2vw;
}
section.gallery figcaption {
  text-align: center;
  color: #666;
  font-weight: 600;;
}
section.gallery img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
section.gallerybroke img {
  border-radius: 4px;
}
section.gallerysquished img {
  width: 100%;
  border-radius: 4px;
}

/*Weather goes here*/
.current {
  font-size: 1.2rem;
  color: #f5a434
}
#forecast {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
  
}

#forecast div {
  border: 1px solid #f5a434;
  padding: 1rem;
  background: linear-gradient(30deg, rgb(13, 98, 115), rgb(20, 24, 24));
  

}

#forecast p.temp {font-size: 2rem;}
#forecast p.desc {color: #fbfbfb}
#forecast p.temp {color:#dc8a16}


/* Cards go Here */
div.cards{
  display: grid; 
  grid-template-columns: 1fr;
  padding: 1rem 2vw;
}
div.cards section {
  border: 1px dashed #aaa;
  width: 100%;
  padding: 1rem 0;
}
div.cards section h2 {margin-top: 0;}

/* Calendar */
div#calendar {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #F3F3F3;
}
table {
  width: 100%;
  font-family: 'PT Serif', serif;
  border-collapse: separate;
  border-spacing: 0.3;
}
.head_cal {
  background: #FFF;
  color: #015f72;
  font-size: 1.4rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}
.subhead_cal {
  background: linear-gradient(30deg, rgb(238, 164, 25), rgb(213, 159, 58));
  color: #FFF;
  font-size: 1.2rem;
  line-height: 2rem;
}
.week_cal {
  background: #FFF;
  color: #eaad04;
  font-size: 1rem;
  line-height: 2rem;
}
.white_cal {
  background: #ECECEC!important;
}
tbody.days_cal tr td a {
  padding: 0;
  text-decoration: none;
  background: #FFF;
  color: #151313;
  height: 3.2rem;
  width: 100%;
  line-height: 3.2rem;
  display: block;
}
tbody.days_cal tr td {
  padding: 0;
  margin: 0;
  border: 1px solid #ECECEC;
  text-align: center;
  width: 14.28571428571429%;
  height: auto;
}
.event {
  color: #015f72!important;
  transition: all 0.3s ease;
}
.today_cal.event {
  background: #e3d8d8 !important;
  color: #FFF !important;
  transition: all 0.3s ease;
}
.today_cal.event:hover,
  .event:hover{
  opacity:0.5;
  transition: all 0.3s ease;
}
.week_event {
  color: #015f72;
}
#calendar_data {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFF;
  color: #C5C5C5;
  opacity:0;
  visibility:hidden;
  transform: scale(0,0);
  transition: all 0.8s ease;
}

#calendar_data h3 {
  text-align: center;
  font-size: 20px;
  padding: 5px 10px;
  margin: 0;
  background: #F2F2F2;
  color: #015f72;
  border-bottom: 1px solid #DFDFDF;
  text-transform: capitalize;
}
#calendar_data  dl {
  padding: 0.5em;
  margin-left: 0;
  display: block;
  height: calc(100% - 4rem);
}
#calendar_data  dt {
  float: left;
  clear: left;
  width: 5rem;
  text-align: left;
  font-size: 0.8rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 600;
  color: #01161a;
  background: #FFF;
  padding: 0.2rem;
}
#calendar_data  dd {
  margin: 0 0 1rem 5rem;
  padding: 0 0.5rem 0.5rem 0.5rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #ADADAD;
  border-bottom: 1px solid #EAEAEA;
}
#calendar_data dd:last-child {
border: none;
}

#calendar_data a:not(.hideEvent) {
  color: #015f72;
  border: 0.1rem solid #015f72;
  padding: 0.2rem 1rem;
  text-decoration: none;
}
.show_data{
  opacity: 1 !important;
  visibility: visible !important;
  transform: scale(1, 1) !important;
  transition: all 0.2s ease;
}

.hideEvent {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  background: #F2F2F2;
  border-left: 0.1rem solid #E5E5E5;
  color: #D3D3D3 !important;
}
.hideEvent:hover{
  text-decoration:none;
  color:rgb(230, 217, 217);
}





/*spotlight cards*/
div.cards .spot {
  text-align: center;
  padding: 0;
}
.spot img {width: 100%; display: block;}
.spot span {
  background: linear-gradient(30deg, rgb(238, 164, 25), rgb(213, 159, 58));
  display: block;
  padding: .5rem 8px;
  font-weight: 600;
}
.spot a {
  display: block;
  padding: .75rem 1rem;
  color: hsl(190, 98%, 23%);
  background-color: #eee;
}

/*Banner goes here*/
div#banner {
  background-color: #f5a434;
  padding: 1rem 2vw;
  text-align: center;
  font-weight: 600;
}
div#banner.hide {
  display: none;
}

/*Discover goes here*/
section.gallery figure {
  margin: 2rem 2vw;
}
section.gallery figcaption {
  text-align: center;
  color: #666;
  font-weight: 600;;
}
section.gallery img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

/*Form Styling goes here*/
form {
  margin: 1rem 2vw;
  

}

form fieldset {
  margin:2rem 0;
  border: 1px solid #0e0f0f;
  padding: 0.5rem;
  border-radius: 14px;
  max-width: 22rem;
  background-color: rgba(239, 241, 243, 0.6);


}
  
form label, form textarea{
  display: block;
  margin-bottom: 1rem;
  border-radius: 14px;
}
form textarea{
  width: 350px;
  padding: 1.5em;
}
form fieldset label{
  margin: .4rem ;
  
}
form fieldset {margin-bottom: 1rem; width: 75%;}
form input[type='text'], form input[type='tel'],form input[type='email']{ 
  display: block;
  width: 350px;
  padding: 0.55rem;
  
}

fieldset{
  background-color: #a5814af3;
}
form fieldset legend {width: auto ;}
form input:valid {border: solid blue 2px;}
form input:invalid {border: solid red 2px;}
form input[type='submit'] {
  width: 200px;
  border: solid #000000 1px;
  padding: 1rem 0;
  border-radius: 2px;
  font-weight: 400;
  background-image: linear-gradient(to right, rgba(179, 130, 8, 0.351) , rgba(240, 172, 46, 0.617));
  cursor: pointer;
}
/*Members goes here*/
div#theButtons {width: 100%; text-align: center;}
div#theButtons button.active {background-color: #f5a434;}
div#theButtons button {
  margin: 0 1rem; 
  padding: .7rem 1rem;
  border-radius: 10px;
  border: 1px solid #f5a434;
}
div#members {
  margin: 0 2vw;
}


/*GRID layout here*/
div.grid {
  display: flex;
  flex-wrap: wrap;
  gap:8px;
  justify-content: center;
  
}
div.grid section {
  text-align: center;
  margin: 1rem 0;
  border: dashed 1px #f5a434;
  border-radius: 10px;
  overflow: hidden;
}
div.grid img:first-child {
  width: 430px;
  height: 350px;
}
div.grid h3 {margin: .2rem 0;}
div.grid p {margin: .2rem 0;}

/*LIST layout here*/
div.list section {
  display: grid;
  grid-template-columns: auto auto auto auto 55px;
  align-items: center;
  margin: .5rem 0;
  border:  4px #1d1c1a;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(to bottom left, #f3f1f1 50%, #f9f9f9 100%);
}
div.list img:first-child {display: none;}



/*Footer goes here*/
footer {
  background-color: #ddd;
}
footer section {padding: 1rem 2vw;}
footer p {margin: .1rem 0;}
footer a {color:#043c4f;}
footer section:nth-child(1) {
  display: grid;
  grid-template-columns: 80px auto;
}