*{box-sizing: border-box;}
body {
  font-family: 'PT Serif', serif;
  font-weight: 300;
  color: #333;
}

header {
  padding: .5rem;
  border-bottom: 1px solid #dc8a16;
  display: grid;
  gap: .5rem;
  grid-template-columns: 50px auto 48px;
}

header h1 {
  margin: 0;
  color: #eaad04;
  font-size: 1.5rem;
}

header p {
  margin: 0;
  color: #015f72;
  font-size: .87rem;
}


/*Navagation goes here*/
#menu-button {
  background: none;
  border: none;
  color: #015f72;
  font-size: 1.5rem;
  width: 48px;
  height: 48px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 5px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: none;
  list-style-type: none;
  z-index: 99;
}

nav ul.open {
  display: block;
  position: absolute;
  top: 50px;
  right: 0;
  width: 150px;
  background-color: #f5a434;
  margin: 0;
}

nav ul li a {
  display: block;
  color: black;
  text-decoration: none;
  padding: .75rem;
}
nav ul li.active a {
  font-weight: 600;
}
nav ul li:hover a {
  background-color: #c6440c;
  color: white;
}
/*Default Styling*/
main h1 {
  color:#015f72;
  margin-left: 2vw;
}
main h2 {
  color:#015f72;
  margin-left: 2vw;
}
main p {
  color:#333;
  margin-left: 2vw;
}

.container {
  background-image: url("../images/st1.png");
  width: 1500px;
  height: 400px;
  display:grid

  
}
/*Hero goes here*/

.hero{
    background-image: url("../images/hero-wide2.png");
  
}
.hero-content {
    
    z-index: 1;
    padding: 1rem;
    color: white;
    margin: 0 auto;
  }
  
  .hero-content a {
    color: rgb(255, 248, 30);
  }

  .hero-content p {
    color: rgb(252, 252, 252);
  }

  .home-tittle {
    font-size: 40px;
    margin-bottom: 90px;
    margin-left:auto;
    
  }

/* Cards go Here */
div.cards{
  display: grid; 
  grid-template-columns: 1fr;
  padding: 1rem 2vw;
}


main section h2 {margin-top: 0;}
/*Discover goes here*/
section.gallery figure {
  margin: 2rem 2vw;
}
section.gallery figcaption {
  text-align: center;
  color: #666;
  font-weight: 600;;
}
section.gallery img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
section.gallerybroke img {
  border-radius: 4px;
}
section.gallerysquished img {
  width: 100%;
  border-radius: 4px;
}

/*Form Styling goes here*/
form {
  margin: 1rem 2vw;
  

}

form fieldset {
  margin:2rem 0;
  border: 1px solid #0e0f0f;
  padding: 0.5rem;
  border-radius: 14px;
  max-width: 22rem;
  background-color: rgba(239, 241, 243, 0.6);


}
  
form label, form textarea{
  display: block;
  margin-bottom: 1rem;
  border-radius: 14px;
}
form textarea{
  width: 350px;
  padding: 1.5em;
}
form fieldset label{
  margin: .4rem ;
  
}
form fieldset {margin-bottom: 1rem; width: 75%;}
form input[type='text'], form input[type='tel'],form input[type='email']{ 
  display: block;
  width: 350px;
  padding: 0.55rem;
  
}

fieldset{
  background-color: #a5814af3;
}
form fieldset legend {width: auto ;}
form input:valid {border: solid blue 2px;}
form input:invalid {border: solid red 2px;}
form input[type='submit'] {
  width: 200px;
  border: solid #000000 1px;
  padding: 1rem 0;
  border-radius: 2px;
  font-weight: 400;
  background-image: linear-gradient(to right, rgba(179, 130, 8, 0.351) , rgba(240, 172, 46, 0.617));
  cursor: pointer;
}



/*GRID layout here*/
div.grid {
  display: flex;
  flex-wrap: wrap;
  gap:8px;
  justify-content: center;
  
}
div.grid section {
  text-align: center;
  margin: 1rem 0;
  border: dashed 1px #f5a434;
  border-radius: 10px;
  overflow: hidden;
}
div.grid img:first-child {
  width: 430px;
  height: 350px;
}
div.grid h3 {margin: .2rem 0;}
div.grid p {margin: .2rem 0;}

/*LIST layout here*/
div.list section {
  display: grid;
  grid-template-columns: auto auto auto auto 55px;
  align-items: center;
  margin: .5rem 0;
  border:  4px #1d1c1a;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(to bottom left, #f3f1f1 50%, #f9f9f9 100%);
}
div.list img:first-child {display: none;}



/*Footer goes here*/
footer {
  background-color: #ddd;
}
footer section {padding: 1rem 2vw;}
footer p {margin: .1rem 0;}
footer a {color:#043c4f;}
footer section:nth-child(1) {
  display: grid;
  grid-template-columns: 80px auto;
}